<div class="animated fadeIn">
<div class="row">
        <div class="col">
        <mat-card>
           <img class="img-fluid" src="../../assets/Imagenes/plattform.png"> 
        </mat-card>
      </div>
</div>
<div class="row"> 
  <div class="col">
      <mat-card-header>
          <mat-card-title>Foro de Discusión</mat-card-title>
        </mat-card-header>
        <mat-card>
            <app-add-comment></app-add-comment>
            <app-comentario></app-comentario>
        </mat-card>   
  </div>          
</div>
</div>
