<!-- Sidebar -->

<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-sm-3 p-0 sidebar sidebar-sticky">
      <nav class="navbar navbar-expand-sm flex-sm-column p-0 float-left">
        <a class="navbar-brand mr-0 text-center" href="#"><img src="../../assets/LOGO-CALCE.png" class="logoNavbar img-fluid p-3" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img src="../../assets/logo.png" class="small img-fluid" alt="Logo2"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav flex-column float-left">
            <a class="nav-item nav-link link btn" (click)="viewProfile($event)"><i class="fas fa-user pr-4"></i>Perfil</a>
            <a class="nav-item nav-link link btn" (click)="viewInstitucion($event)" ><i class="fas fa-building pr-4"></i>Institución</a>
            <a class="nav-item nav-link link btn" (click)="viewCrear($event)" ><i class="fas fa-user-plus pr-2"></i>Agregar paciente</a>
            <a class="nav-item nav-link link btn" ><i class="fas fa-door-open pr-4"></i>Salir</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-xl-10 col-lg-9 col-sm-9">
      <app-ini *ngIf="verInicio===true"></app-ini>
      <app-profile *ngIf="verProfile===true" (onScan)="viewScan(event)"></app-profile>
      <app-scanner *ngIf="verScanner===true"></app-scanner>
      <!--<app-institution></app-institution>-->
      <app-institution *ngIf="verInstitucion===true"></app-institution>
      <app-crear-paciente *ngIf="verCrear===true"></app-crear-paciente>

    </div>
  </div>
</div>