.small {
  display: none;
}
.collapse {
  background: #65bfd9;
  width: 100%;
}
.navbar-brand {
  background-color: #363e4a;
}
.navbar {
  background-color: #65bfd9;
  height: 100%;
}
.sidebar {
  background-color: #65bfd9;
  width: 100%;
  box-shadow: 2px 2px 5px #999;
}

.logoNavbar {
  background-color: #363e4a;
  width: 100%;
}

.headerNavbar {
  background-color: #363e4a;
}

.fas {
  color: white;
  font-size: 2rem;
}

a {
margin-left: 1rem;
  font-family: "K2D", sans-serif;
  background-color: #65bfd9;
  color: white !important;
  display: block;
  cursor: pointer;
  text-align: left;
  padding: 2rem;
}
a:hover {
  color: #0dac8a !important;
}

@media (max-width: 576px) {
  .logoNavbar {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
  .small {
    background-color: #363e4a;
    display: inline-block;
    width: 100%;
  }
  .navbar-toggler {
    background-color: #363e4a;
    padding: 1rem;
  }
}
