<body>
  <div class="container">
    <div class="row menu">
      <div class="col-12">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Institución</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>        
      </ul>
    </div>
    </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-ms-12">
        <p>¡Bienvenido Gabriel!</p>
        </div>
      </div>
    </div>
</body>
