<body>  
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-ms-12">
        <p>¡Bienvenido!</p>
        </div>
      </div>
    </div>
    <div class="row"> 
        <div class="col-md-3">
            <a class="#"></a>
          </div> 
        <div class="col-md-3">
          <button type="button" class="btn btn-primary">Crea paciente</button>
        </div>
        <div class="input-group col-md-3">
            <input type="text" class="form-control" placeholder="Nombre del paciente" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
            </div>
          </div>      
    </div>
    <div class="row">
        <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
            <label class="form-check-label" for="exampleCheck1"> Esperando cavidad</label>
          </div>
          <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <label class="form-check-label" for="exampleCheck1"> Diseño en discución</label>
            </div>
            <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
                <label class="form-check-label" for="exampleCheck1"> Diseño aceptado/imprimiendo</label>
              </div>
              <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="form-check-label" for="exampleCheck1"> Cavidad entregada</label>
                </div>
        <div class="btnFil">
            <button type="button" class="btn btn-primary">Filtrar</button>
          </div>
    </div>
    <div>
    <table class="table" id="tableOne">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Pacientes en MUTUAL</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <thead class="thead-white">
            <tr>
              <th scope="col">Paciente</th>
              <th scope="col">Estado</th>
              <th scope="col">Amputación</th>
              <th scope="col">Diagnóstico</th>
              <th scope="col">Comuna</th>
              <th scope="col">Institución</th>
            </tr>
          </thead>
        <tbody *ngFor="let paciente of pasFil">
          <tr>
            <td scope="row">{{paciente.paciente}}</td>
            <td>{{paciente.estado}}</td>
            <td>{{paciente.amputacion}}</td>
            <td>{{paciente.diagnostico}}</td>
            <td>{{paciente.comuna}}</td>
            <td>{{paciente.institucion}}</td>
          </tr>         
        </tbody>
      </table>
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Pacientes en INRPAC</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <thead class="thead-white">
              <tr>
                <th scope="col">Paciente</th>
                <th scope="col">Estado</th>
                <th scope="col">Amputación</th>
                <th scope="col">Diagnóstico</th>
                <th scope="col">Comuna</th>
                <th scope="col">Institución</th>
              </tr>
            </thead>
          <tbody *ngFor="let paciente of pasFilFirst">
            <tr>
              <td scope="row">{{paciente.paciente}}</td>
              <td>{{paciente.estado}}</td>
              <td>{{paciente.amputacion}}</td>
              <td>{{paciente.diagnostico}}</td>
              <td>{{paciente.comuna}}</td>
              <td>{{paciente.institucion}}</td>
            </tr>        
          </tbody>
        </table>
      </div>
</body>

