<body>
  <div class="animated fadeIn">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-ms-12">
          <p class="m-3">¡Bienvenido!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <input type="text" class="form-control mb-3 inputBuscar">
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-primary filtrar mb-3">Filtrar</button>
      </div>
    </div>
    <div>
      <div class="container-fluid">
        <div class="row scrollDiv">
          <div class="col-12 p-0">
            <table class="table" id="tableOne">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Pacientes en MUTUAL</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <thead class="thead-white">
                <tr>
                  <th scope="col">Paciente</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Amputación</th>
                  <th scope="col">Diagnóstico</th>
                  <th scope="col">Comuna</th>
                  <th scope="col">Institución</th>
                </tr>
              </thead>
              <tbody *ngFor="let paciente of pasFil">
                <tr>
                  <td scope="row">{{paciente.paciente}}</td>
                  <td>{{paciente.estado}}</td>
                  <td>{{paciente.amputacion}}</td>
                  <td>{{paciente.diagnostico}}</td>
                  <td>{{paciente.comuna}}</td>
                  <td>{{paciente.institucion}}</td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Pacientes en INRPAC</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <thead class="thead-white">
                <tr>
                  <th scope="col">Paciente</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Amputación</th>
                  <th scope="col">Diagnóstico</th>
                  <th scope="col">Comuna</th>
                  <th scope="col">Institución</th>
                </tr>
              </thead>
              <tbody *ngFor="let paciente of pasFilFirst">
                <tr>
                  <td scope="row">{{paciente.paciente}}</td>
                  <td>{{paciente.estado}}</td>
                  <td>{{paciente.amputacion}}</td>
                  <td>{{paciente.diagnostico}}</td>
                  <td>{{paciente.comuna}}</td>
                  <td>{{paciente.institucion}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>