.menu {
  padding-top: 3%;
}
a:hover {
  color: #13ce66;
}
p {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
}
a {
  color: #4d5863;
  font-weight: 700;
}
.form-control {
  border-right: none;
}
.btnCrea {
  background-color: #5bc0de !important;
  border: none;
  color: white !important;
}

.btnSearch {
  padding:0;
}
#basic-addon2 {
  border-left: none;
  background-color: white;
  border-color: #cad0d8;
  margin-right: 25%;
}
.input-group-text {
  margin: 3.5%;
  background-color: white;
}
.btnFil{
  margin: 3.5%;
  width: 50%;
}
td {
  background-color: #f4f5f6;
}
.btnCrea {
  background-color: white;
  color: #212529;
  display: block;
  margin: 2.5%;
  cursor: pointer;
}
.btnCrea:hover {
  color: #0dac8a !important;
}


.input-group {
  border-color: #dfdfdf;
  border-left-color: white;
}

a {
  color: #4d5863;
}

.scrollDiv{
  overflow-x: scroll;
}

.inputBuscar{
  width: 50%;
  display: inline;
}
.filtrar{
  display: inline;
}

