<div class="cont">
    <form>
      <div class="form-group">
        <img src="../../assets/LOGO-CALCE.png">        
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre de usuario">        
      </div>
      <div class="form-group">        
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recordar contraseña</label>
      </div>
      <button type="submit" class="btn btn-primary" routerLink="/muro">Entrar</button>
      <p>¿Olvidaste tu contraseña?</p>
    </form>
  </div> 
  
  