<div class="row">
  <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-10">
    <h3>Nombre del paciente</h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Escaneos del paciente <i class="fas fa-edit float-right"></i>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4 p-0">
            <h5 class="card-title ml-3 extr">Extremidad</h5>
            <p class="card-text ml-3">Izquierdo transfemoral</p>
          </div>
          <div class="col-4 p-0">
            <h5 class="card-title">Fecha subida</h5>
            <p class="card-text">25/10/2018, 18:32</p>
          </div>
          <div class="col-4 p-0 justify-content-center">
            <a class="btn" (click)="viewScan($event)">Ver scanner</a>
            <a  class="btn">Historial</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Cavidad en trámite <i class="fas fa-edit float-right"></i>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6 p-0">
            <h5 class="card-title ml-3">Extremidad procesándose</h5>
          </div>
          <div class="col-6 p-0">
            <h5 class="card-title">Medidas</h5>
            <p class="card-text">Interlínea: 3</p>
            <p class="card-text">Separación: 4</p>
            <p class="card-text">Medidas adicionales:-</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Datos del paciente<i class="fas fa-edit float-right"></i>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6 p-0">
            <h5 class="card-title ml-3">Nombre completo:</h5>
            <p class="card-text ml-3">Linda María Delgado Castillo</p>
            <h5 class="card-title ml-3">Edad:</h5>
            <p class="card-text ml-3">45 años</p>
            <h5 class="card-title ml-3">Sexo:</h5>
            <p class="card-text ml-3">Femenino</p>
          </div>
          <div class="col-6 p-0">
            <h5 class="card-title ml-1">Dirección:</h5>
            <p class="card-text ml-1">Los Conquistadores 540, Las Condes</p>
            <h5 class="card-title ml-1">Institucion:</h5>
            <p class="card-text ml-1">Mutual</p>
            <h5 class="card-title ml-1">Diagnóstico:</h5>
            <p class="card-text ml-1">Accidente laboral, amputación</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>