<div class="animated fadeIn my-auto">
  <mat-card>
  <h4>Crear Paciente</h4>
  <br>
    <form>
      <div class="row">
        <div class="col">
          <p class="text">Nombre*</p>
          <input type="text" class="form-control">
        </div>
        <div class="col">
          <p class="text">Apellido*</p>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="text">Rut*</p>
          <input type="text" class="form-control">
        </div>
        <div class="col">
          <p class="text">Fecha de Nacimiento</p>
          <input type="text" class="form-control">
        </div>
        <div class="col">
          <p class="text">Sexo</p>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              -----
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Femenino</a>
              <a class="dropdown-item" href="#">Masculino</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="text">Región</p>
          <div class="dropdown">
            <button class="btn dropdown-toggle toogleMed" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              ----------
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Metropolitana</a>
              <a class="dropdown-item" href="#">V Región</a>
            </div>
          </div>
        </div>
        <div class="col">
          <p class="text">Comuna</p>
          <div class="dropdown">
            <button class="btn dropdown-toggle toogleMed" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">----------
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Providencia</a>
              <a class="dropdown-item" href="#">Recoleta</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="text">Dirección</p>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="text">Diagnostico</p>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <button mat-button class="btnCrear px-2" type="submit">Crear Paciente</button>
      </div>
    </form>
  </mat-card>
</div>