<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Estado</th>
      <th>Amputacion</th>
      <th>Diagnostico</th>
      <th>Comuna</th>
      <th>Institucion</th>
    </tr>
  </thead>
  <tbody>
<!--    <tr *ngFor="let paciente of pacientes">
      <td>{{ pacientes.paciente }}</td>
      <td>{{ pacientes.estado }}</td>
      <td>{{ pacientes.amputacion }}</td>
      <td>{{ pacientes.diagnostico }}</td>
      <td>{{ pacientes.comuna }}</td>
      <td>{{ pacientes.institucion }}</td>
    </tr> -->
  </tbody>
</table>