<body>
  <div class="container animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-ms-12">
        <p>¡Bienvenido!</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <button type="button" class="btn btn-primary">Ingrese nuevo paciente</button>
      </div>
      <div class="col-8">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Nombre del paciente" aria-label="Recipient's username"
            aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btnSearch" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input">
          <label class="form-check-label" for="exampleCheck1"> Esperando cavidad</label>
        </div>
      </div>
      <div class="col">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input">
          <label class="form-check-label" for="exampleCheck1"> Diseño en discución</label>
        </div>
      </div>
      <div class="col">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input">
          <label class="form-check-label" for="exampleCheck1"> Diseño aceptado/imprimiendo</label>
        </div>
      </div>
      <div class="col">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input">
          <label class="form-check-label" for="exampleCheck1"> Cavidad entregada</label>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5">
        <button type="button" class="btn btn-primary">Filtrar</button>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row scrollDiv p-0">
        <div class="col-12">
          <table class="table" id="tableOne">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Paciente</th>
                <th scope="col">Estado</th>
                <th scope="col">Amputación</th>
                <th scope="col">Diagnóstico</th>
                <th scope="col">Comuna</th>
                <th scope="col">Institución</th>
              </tr>
            </thead>
            <tbody *ngFor="let paciente of pacientes">
              <tr>
                <td scope="row">{{paciente.paciente}}</td>
                <td>{{paciente.estado}}</td>
                <td>{{paciente.amputacion}}</td>
                <td>{{paciente.diagnostico}}</td>
                <td>{{paciente.comuna}}</td>
                <td>{{paciente.institucion}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>